<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd">
    <!--上面是完整的头文件-->

    <!--先配置Controller到service到dao吗？-->
    <bean id="userServiceImpl" class="com.ssm.transaction.service.UserServiceImpl">
    <!--<bean id="ser" class="com.ssm.transaction.service.UserServiceImpl">-->
        <!--<property name="userDao" ref="user"></property>-->
        <property name="userDao" ref="userDao"></property>
    </bean>


    <bean id="userServiceImpl2" class="com.ssm.transaction.service.UserServiceImpl2">
        <property name="userDao" ref="userDao"></property>
    </bean>

    <!--<bean id="userDao" class="com.ssm.transaction.dao.UserDaoImpl">-->
    <!--&lt;!&ndash;<bean id="user" class="com.ssm.transaction.dao.UserDaoImpl">&ndash;&gt;-->
        <!--&lt;!&ndash;<property name="queryRunner" ref="QueryRunner"></property>&ndash;&gt;-->
        <!--<property name="queryRunner" ref="queryRunner"></property>-->
    <!--</bean>-->

    <!--配置QueryRunner对象；默认是单例的，但是可能转账操作会有问题，所以加scope=prototype让其变成多例-->
    <!--<bean id="queryRunner" class="org.apache.commons.dbutils.QueryRunner" scope="prototype">-->
        <!--<constructor-arg name="ds" ref="dataSource"></constructor-arg>-->
    <!--</bean>-->

    <!--要加c3p0的依赖-->
    <!--<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">-->
        <!--<property name="driverClass" value="com.mysql.jdbc.Driver"></property>-->
        <!--<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/test"></property>-->
        <!--<property name="user" value="root"></property>-->
        <!--<property name="password" value="qbj5201314"></property>-->
    <!--</bean>-->
    <!--这就不用 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/test"></property>
        <property name="username" value="root"></property>
        <property name="password" value="qbj5201314"></property>
    </bean>



    <!--配置SqlSessionFactory工厂-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
    </bean>


    <!--配置dao接口所在包-->
    <bean id="mapperScanner" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.ssm.transaction.dao"/>
    </bean>


</beans>